.banner {
    padding-bottom: 87.5px;
    &__menu-return {
        padding: 30px 0;
    }
    &__choose {
        background-color: $color-light-blue;
        flex: 1;
        border-radius: 5px;
        height: 310px;
        &:first-child {
            margin-right: 24px;
        }
        &:hover {
            border: $color-royal-blue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &-wrap {
            padding: 0 61px 0 43px;
        }
        &-h2 {
            padding-bottom: 7px;
        }
        &-offer {
            padding-bottom: 93px;
        }
    }
    &__img {
        overflow: hidden;
    }
}
.link {
    border-bottom: 1px solid $color-royal-blue;
}
