section.banner.bg-page
    .banner__menu-return
        a(href="#").text-light.text-light_blue Главная
    .banner__box.flex
        .banner__choose.flex-space-between
            .banner__choose-wrap
                .banner__choose-h2
                    h2.text-big.open-sans ПРОДУКТЫ
                .banner__choose-offer
                    p.text-light В розницу по оптовым ценам!
                a.text-style.text-light_blue.link(href="#") Узнать подробнее
            .banner__img
                img(src="./assets/images/products.svg", alt="products")
        .banner__choose.flex-space-between
            .banner__choose-wrap
                .banner__choose-h2 
                    h2.text-big.open-sans СКИДКА 20%
                .banner__choose-offer
                    p.text-light На креветки до 20.09
                a.text-style.text-light_blue.link(href="#") Узнать подробне
            .banner__img
                img(src="./assets/images/shrimp.svg", alt="shrimp")