section.banner.bg-page
    .banner__main-text
        a(href="#").text-light.text-light_blue Главная
    .banner__box.flex
        .banner__choose.banner__choose1
            h3 ПРОДУКТЫ
            p В розницу по оптовым ценам!
            .banner__img
                img(src="./assets/images/products.svg", alt="products")
            a(href="#") Узнать подробнее
        .banner__choose 
            h3 СКИДКА 20%
            p На креветки до 20.09
            .banner__img
                img(src="./assets/images/shrimp.svg", alt="shrimp")
            a(href="#") Узнать подробнее
    
