section.category.bg-white 
    .category__nav.flex
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap.flex
                    img(src="./assets/images/meat.svg", alt="meat")
                .category__itemtext
                    p.text-light  Мясо
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap.flex
                    img(src="./assets/images/seafood.svg", alt="seafood")
                .category__itemtext
                    p.text-light Морепродукты
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap.flex
                    img(src="./assets/images/iqos.svg", alt="iqos")
                .category__itemtext
                    p.text-light Все для курения
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap1.flex
                    img(src="./assets/images/drinkables.svg", alt="drinkables")
                .category__itemtext
                    p.text-light Напитки   
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap.flex
                    img(src="./assets/images/grocery.svg", alt="grocery")
                .category__itemtext
                    p.text-light Бакалея
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap.flex
                    img(src="./assets/images/snacks.svg", alt="snacks")
                .category__itemtext
                    p.text-light Снеки
        a(href="#").category__item
            .flex-column-center
                .category__item-wrap.flex
                    img(src="./assets/images/nuts.svg", alt="nuts")
                .category__itemtext
                    p.text-light Специи и орехи