footer.footer.bg-blue.flex-space-between
    .footer__left
        .footer__logo.flex
            .footer__logo-wrapbear
                img(src="./assets/icons/logo-footer.svg", alt="logo-footer")
            .footer__logo-text
                img(src="./assets/icons/siberian-footer.svg", alt="siberian-footer")
        .footer__preview
                p.text-light.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi lacinia amet nulla nibh ultrices habitant. Sit sed morbi faucibus eget. At facilisis malesuada pharetra malesuada. Quam purus, senectus volutpat, diam sem arcu, nunc orci
    .footer__center
        .nav__choose.flex
        .nav__catalog.flex.green-block 
            .nav__wrapimg.text-style.text-style_white
                img.image-dots(src="./assets/icons/dots.png", alt="dots")
            .nav__wraptext
                a(href="#").text-light.text-light_small.text-light_white Каталог
        .nav__center     
                ul.flex-column
                    li.nav__item.footer__center-item
                        a(href="#").text-light.text-light_small.text-light_white О нас
                    li.nav__item
                        a(href="#").text-light.text-light_small.text-light_white Доставка и оплата
                    li.nav__item.footer__center-item
                        a(href="#").text-light.text-light_small.text-light_white Партнерам
                    li.nav__item
                        a(href="#").text-light.text-light_small.text-light_white Контакты
                    li.nav__item.footer__center-item
                        a(href="#").text-light.text-light_small.text-light_white % Акции 
    .footer__right
        .footer__right-box
            .footer__right-title.margin
                p.text-light.text-light_small.text-light_white Адреса:
            .footer__right-address 
                p.text-light.text-light_small.text-light_white Восточно-кругликовская 42/3 к1 
                p.text-light.text-light_small.text-light_white Восточно-кругликовская 46/11
                p.text-light.text-light_small.text-light_white Восточно-кругликовская 48Г
                p.text-light.text-light_small.text-light_white 2я Ямайская 4А
                p.text-light.text-light_small.text-light_white Карякина 10
        .footer__right-box
            .footer__right-title
                p.text-light.text-light_small.text-light_white Телефоны:
            .footer__right-tel
                .footer__right-tel
                    a(href="tel:8(918) 000-00-00").text-light.text-light_small.text-light_white 8(918) 000-00-00
                .footer__right-tel
                    a(href="tel:8(918) 000-00-00").text-light.text-light_small.text-light_white 8(918) 000-00-00 
        .footer__right-box
            .footer__right-title.margin
                p.text-light.text-light_small.text-light_white E-mail:
            .footer__right-mail 
                a(href="mailto:example@mail.ru" target="_blank").text-light.text-light_small.text-light_white example@mail.ru