section.wrapper-header.header.bg-white.flex-space-between
    .header__logo.flex
        .header__logo-wrapbear
            img(src="./assets/icons/logo.svg", alt="logo")
        .header__logo-text
            img(src="./assets/images/siberian.svg", alt="siberian")
    .header__input-holder
        input.header__input(type="text", id="header", name="header", placeholder="Найти товар")
        .header__button 
            img(src="./assets/icons/search.svg", alt="search")
    .header__basket-box.flex
        button.header__basket-circle.flex-center(type="button")
            .header__basketwrap
                img(src="./assets/icons/basket.svg", alt="basket")
        .header__sum
                p.text-light.text-light_gray Корзина
                p.text-bold-black 52 325 руб.