section.insta
    .insta__heading
        h3.open-sans.open-sans_sizebig Наш инстаграм
    .insta__gallery
        .splide
            .splide__track
                ul.insta__box.flex.splide__list
                    li.insta__imgwrap.insta__imgwrap_desc.splide__slide 
                        img(src="./assets/images/cabbage.svg", alt="cabbage")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/insta-meat.svg", alt="insta-meat")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...  
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/fish.svg", alt="fish")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...  
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/steam.svg", alt="steam")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...  
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/pepsi.svg", alt="pepsi")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien... 
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/spices.svg", alt="spices")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...      
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/insta-shrimp.svg", alt="insta-shrimp")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...      
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/sausage.svg", alt="sausage")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...      
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/juice.svg", alt="juice")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...      
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/bloater.svg", alt="bloater")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...      
                    li.insta__imgwrap.splide__slide 
                        img(src="./assets/images/chicken.svg", alt="chicken")
                        .insta__box-text
                            p.text-light.text-light_small.text-light_white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada mattis lectus non vestibulum sollicitudin cursus vivamus justo. Nunc etiam augue nec interdum. Nunc facilisi semper faucibus lacus tortor faucibus viverra. Velit fermentum, egestas adipiscing tellus mi sapien...      
        