nav.wrapper.top-nav.flex-space-between.bg-blue
    .nav__choose.flex
        .nav__catalog.flex.blue-block
            .nav__wrapimg.text-style.text-style_white
                img.image-dots(src="./assets/icons/dots.png", alt="dots")
            .nav__wraptext
                a(href="#").text-style.text-style_white Каталог
        .nav__center        
                ul.flex-space-between
                    li.nav__item 
                        a(href="#").text-style.text-style_white О нас
                    li.nav__item 
                        a(href="#").text-style.text-style_white Доставка и оплата
                    li.nav__item 
                        a(href="#").text-style.text-style_white Партнерам
                    li.nav__item 
                        a(href="#").text-style.text-style_white Контакты
                    li.nav__item.nav__item_red
                        a(href="#").text-style.text-style_white % Акции
    .nav__contact.text-style.text-style_white Заказы по телефону: 
        a(href="tel:8(918)000-00-00") 
        span.text-style_bold.text-style_white.text-style 8(918)000-00-00