section.propositions.bg-page
    .propositions__nav
        ul.flex-center
            a(href="#") 
                li.open-sans.open-sans_size.propositions__item Новинки
            a(href="#") 
                li.open-sans.open-sans_size.propositions__item  Популярные товары
            a(href="#") 
                li.open-sans.open-sans_size.propositions__item  Распродажа
    .propositions__grid
        .propositions__grid-wrap.flex-space-between
            .propositions__grid-item.propositions__grid-item_blue.flex-column.margin
                .propositions__inner.flex
                    .propositions__img
                        img(src="./assets/images/photo.svg", alt="photo")
                    .propositions__box.flex-column
                        .propositions__box-topic
                            h6.text-style чипсы Delicados nachos
                            p.text-light.text-light_small кукурузные оригинальные 500 г
                        .text-light.text-light_small Цена от 1шт: 
                            span.text-style от 45р/шт. 
                            span.text-light.text-light_small Цена от 10шт: 
                            span.text-style от 35р/шт.
                        span.label Снеки
                .propositions__button
                        button.button.propositions__button.text-style.text-style_white Купить
            .propositions__grid-item.propositions__grid-item_green.flex-column
                .propositions__inner.flex
                    .propositions__img
                        img(src="./assets/images/photo.svg", alt="photo")
                    .propositions__box.flex-column
                        .propositions__box-topic
                            h6.text-style чипсы Delicados nachos
                            p.text-light.text-light_small кукурузные оригинальные 500 г
                        .text-light.text-light_small Цена от 1шт: 
                            span.text-style от 45р/шт. 
                            span.text-light.text-light_small Цена от 10шт: 
                            span.text-style от 35р/шт.
                        span.label Снеки
                .propositions__corner.propositions__corner-wd.propositions__corner-wd_green.flex-end
                    .text-corner Новинка
                .propositions__button
                        button.button.propositions__button.propositions__button_green.text-style.text-style_white Купить
        .propositions__grid-wrap.flex-space-between
            .propositions__grid-item.propositions__grid-item_maroon.flex-column.margin
                .propositions__inner.flex
                    .propositions__img
                        img(src="./assets/images/photo.svg", alt="photo")
                    .propositions__box.flex-column
                        .propositions__box-topic
                            h6.text-style чипсы Delicados nachos
                            p.text-light.text-light_small кукурузные оригинальные 500 г
                        .text-light.text-light_small Цена от 1шт: 
                            span.text-style от 45р/шт. 
                            span.text-light.text-light_small Цена от 10шт: 
                            span.text-style от 35р/шт.
                        span.label Снеки
                    .propositions__corner.propositions__corner-wd.propositions__corner-wd_maroon.flex-end
                        .text-corner Хит!
                .propositions__button
                        button.button.propositions__button.propositions__button_maroon.text-style.text-style_white Купить
            .propositions__grid-item.propositions__grid-item_yellow.flex-column
                .propositions__inner.flex
                    .propositions__img
                        img(src="./assets/images/photo.svg", alt="photo")
                    .propositions__box.flex-column
                        .propositions__box-topic
                            h6.text-style чипсы Delicados nachos
                            p.text-light.text-light_small кукурузные оригинальные 500 г
                        .text-light.text-light_small Цена от 1шт: 
                            span.text-style от 45р/шт. 
                            span.text-light.text-light_small Цена от 10шт: 
                            span.text-style от 35р/шт.
                        span.label Снеки
                    .propositions__corner.propositions__corner-wd.propositions__corner-wd_yellow.flex-end
                        .text-corner.text-corner_black Скидка
                .propositions__button
                        button.button.propositions__button.propositions__button_yellow.text-style.text-style_white Купить   
        .propositions__grid-wrap.flex-space-between
            .propositions__grid-item.propositions__grid-item_blue.flex-column.margin
                .propositions__inner.flex
                    .propositions__img
                        img(src="./assets/images/photo.svg", alt="photo")
                    .propositions__box.flex-column
                        .propositions__box-topic
                            h6.text-style чипсы Delicados nachos
                            p.text-light.text-light_small кукурузные оригинальные 500 г
                        .text-light.text-light_small Цена от 1шт: 
                            span.text-style от 45р/шт. 
                            span.text-light.text-light_small Цена от 10шт: 
                            span.text-style от 35р/шт.
                        span.label Снеки
                .propositions__button
                        button.button.propositions__button.text-style.text-style_white Купить
            .propositions__grid-item.propositions__grid-item_blue.flex-column
                .propositions__inner.flex
                    .propositions__img
                        img(src="./assets/images/photo.svg", alt="photo")
                    .propositions__box.flex-column
                        .propositions__box-topic
                            h6.text-style чипсы Delicados nachos
                            p.text-light.text-light_small кукурузные оригинальные 500 г
                        .text-light.text-light_small Цена от 1шт: 
                            span.text-style от 45р/шт. 
                            span.text-light.text-light_small Цена от 10шт: 
                            span.text-style от 35р/шт.
                        span.label Снеки
                .propositions__button
                    button.button.propositions__button.propositions__button_gray.text-style.text-style_white Купить    
    .propositions__more 
        a(href="#").text-light.flex-center Показать еще