section.recipes.bg-page
    .recipes__heading
        h3.open-sans.open-sans_sizebig Рецепты
    .recipes__dish
        ul.flex-space-between 
            li.recipes__item.flex-column-center
                .recipes__item-menu.flex-center
                    p.text-style Картошка по Сибирски
                .recipes__corner.flex-end
                    .open-sans.open-sans_normal 25 мая
                button.recipes__button.button
                    .text-style.text-style.text-style_white открыть рецепт
            li.recipes__item.flex-column-center
                .recipes__item-menu.flex-center
                    p.text-style Картошка по Сибирски
                .recipes__corner.flex-end
                    .open-sans.open-sans_normal 25 мая
                button.recipes__button.button
                    .text-style.text-style.text-style_white открыть рецепт
            li.recipes__item.flex-column-center
                .recipes__item-menu.flex-center
                    p.text-style Картошка по Сибирски
                .recipes__corner.flex-end
                    .open-sans.open-sans_normal 25 мая
                button.recipes__button.button
                    .text-style.text-style.text-style_white открыть рецепт
    .recipes__description
        .recipes__description-inner
            h3.open-sans.open-sans_sizebig Продукты в Краснодаре - по оптовым ценам 
        .recipes__description-text
            p.text-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi lacinia amet nulla nibh ultrices habitant. Sit sed morbi faucibus eget. At facilisis malesuada pharetra malesuada. Quam purus, senectus volutpat, diam sem arcu, nunc orci. Volutpat ullamcorper diam pretium vulputate fermentum, sit. Volutpat lobortis nisi, platea proin massa. Sollicitudin vulputate lectus amet donec nec ipsum. Facilisi venenatis mi aliquet sed sed feugiat porttitor quam non. Nisi ac est nisl integer lectus interdum. Consectetur ante fermentum viverra odio feugiat quis mauris netus. Enim, dignissim ornare sit et nisl. Sit morbi praesent nullam tellus lectus. Tempor pellentesque eget imperdiet morbi volutpat. Pretium tortor amet, amet ullamcorper viverra etiam mus.
            p.text-light Rhoncus cursus nulla duis consectetur turpis risus ut scelerisque erat. Vitae, morbi bibendum scelerisque ultricies. Neque sit in enim sit sit laoreet nisl, id turpis. Suspendisse at lectus ipsum sed feugiat. Ultrices magna tincidunt turpis nisi sollicitudin. Tristique nunc diam cursus pellentesque gravida. Pellentesque donec at condimentum integer cursus tempus. Scelerisque id porta viverra parturient libero sed sagittis. Quis imperdiet nunc in egestas ornare semper sed auctor. Eu amet, natoque a ipsum vel morbi ullamcorper lacinia eget. Nec posuere aliquet pharetra, maecenas. Lectus pellentesque dictum sed purus et varius sed. Pulvinar faucibus suspendisse lorem id vehicula dictumst faucibus.
            p.text-light Sed aliquam posuere nulla proin porttitor aliquam proin id. Libero commodo nunc mauris pharetra risus, sem urna aliquam, sapien. Nisl commodo eu dignissim egestas diam eu tellus ac. Ac molestie tincidunt diam eu turpis eu turpis. Facilisis egestas nisl, viverra ut vitae consequat, vel. Eros vestibulum magna ac nunc. Eget vel sollicitudin urna, a, sem eget a, dignissim mi. Eget lacus ultricies integer sapien. Sem cursus enim molestie purus quis. Ornare ac convallis nibh neque urna, ultrices pretium. Dolor facilisis in dapibus sapien amet, non, vulputate mauris purus. Imperdiet at sit in sagittis sed.
            p.text-light Nunc amet nisi enim laoreet integer duis sapien. Id sollicitudin sit natoque suscipit faucibus libero amet sed. At ullamcorper rutrum et ullamcorper amet. Senectus neque aenean euismod risus odio. Ac libero ullamcorper porta risus, tincidunt congue. Maecenas nunc sodales turpis in. Gravida convallis quis tortor odio eu. Erat praesent ut sit dictumst id. Etiam quam enim nisl, quis auctor gravida at morbi justo. Ullamcorper laoreet diam posuere at nisl, ut nulla netus id. Ipsum, viverra in sed odio egestas imperdiet. Tempus sit pulvinar lacus aenean nullam. Bibendum sociis enim tristique eu laoreet adipiscing cursus. Lacus odio fermentum, dui enim, odio interdum nibh.
            p.text-light Praesent etiam lectus semper integer egestas. Lobortis auctor id vulputate nibh morbi. Amet ultrices quis placerat blandit tincidunt donec. Diam at faucibus tincidunt sit nisl senectus lectus et. Faucibus orci erat ac eget dapibus tincidunt. Sociis amet consequat, eu mi. Parturient lorem sem integer amet lacus, nisi, auctor ut in. Ut quis enim amet, ut. Amet diam sit in volutpat ipsum ultricies pharetra. Lacinia nec egestas hac nec nullam nulla.
                