section.wrapper.top-nav.flex-space-between
    .top-nav__left.flex
        .top-nav__nav-catalog.flex.blue-block
            .top-nav__wrapimg.text-style
                img.image-dots(src="./assets/icons/dots.png", alt="dots")
            .top-nav__wraptext
                a(href="#").text-style Каталог
        .top-nav__nav-center        
                ul.flex-space-between
                    li.top-nav__item 
                        a(href="#").text-style О нас
                    li.top-nav__item 
                        a(href="#").text-style Доставка и оплата
                    li.top-nav__item 
                        a(href="#").text-style Партнерам
                    li.top-nav__item 
                        a(href="#").text-style Контакты
                    li.top-nav__item_red
                        a(href="#").text-style % Акции
    .top-nav__contact.text-style Заказы по телефону: 
        a(href="tel:8(918)000-00-00") 
        span.text-style_bold 8(918)000-00-00