extends index

block content
    include ../chunks/nav
    include ../chunks/header
    include ../chunks/category
    include ../chunks/banner
    include ../chunks/propositions
    include ../chunks/insta
    include ../chunks/recipes
    include ../chunks/map
    include ../chunks/footer
