$color-royal-blue: #2f80ed;
$color-denim: #125dc2;
$color-thunderbird: #c63a22;
$color-dark: #020303;
$color-white: #ffffff;
$color-lima: #8cc01e;
$color-light-green: #f0f9e5;
$color-maroon-flush: #c62253;
$color-yellow: #ffc700;
$color-early-yellow: #fff9e9;
$color-light-yellow: #fffcbe;
$color-silver: #aeaeae; // unactive
$color-alice_blue: #f4f6f9; // bg page
$color-mercury: #e5e5e5;
$color-dark-gray: #333333;
$color-gray: #ededed;
$color-light-blue: #e5eff9;
$color-smoke-screen: #aeaeae;

//fonts
$font-thin: "Nunito Thin";
$font-main: "Nunito light";
$font-bold: "Nunito bold";
$font-medium: "Montserrat medium";
$font-insta: "Open Sans regular";
$font-title: "Open Sans bold";
