/* nunito-200 - latin */
@font-face {
    font-family: "Nunito Thin";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/nunito/nunito-v16-latin-200.woff2") format("woff2"),
        url("../assets/fonts/nunito/nunito-v16-latin-200.woff") format("woff");
}

/* nunito-300 - latin */
@font-face {
    font-family: "Nunito light";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/nunito/nunito-v16-latin-300.woff2") format("woff2"),
        // путь относительно папки build
        url("../assets/fonts/nunito/nunito-v16-latin-300.woff") format("woff");
}

/* nunito-700 - latin */
@font-face {
    font-family: "Nunito bold";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/nunito/nunito-v16-latin-700.woff2") format("woff2"),
        url("../assets/fonts/nunito/nunito-v16-latin-700.woff") format("woff");
}

/* montserrat-600 - latin */
@font-face {
    font-family: "Montserrat medium";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/montserrat/montserrat-v18-latin-700.woff2") format("woff2"),
        url("../assets/fonts/montserrat/montserrat-v18-latin-700.woff") format("woff");
}

/* open-sans-regular - latin */
@font-face {
    font-family: "Open Sans regular";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/open-sans/open-sans-v23-latin-regular.woff2") format("woff2"),
        url("../assets/fonts/open-sans/open-sans-v23-latin-regular.woff") format("woff");
}

/* open-sans-700 - latin */
@font-face {
    font-family: "Open Sans bold";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/open-sans/open-sans-v23-latin-700.woff2") format("woff2"),
        url("../assets/fonts/open-sans/open-sans-v23-latin-300italic.woff") format("woff");
}
